.container-admin-layer {
  display: flex;
  height: calc(100vh - 160px);
}
.container-admin-left-side-bar{
  background-color: white;
  width: 100%;
  border-right: 1px solid gray;
  box-shadow: 2px 0px 1px  gray;
  flex: 1;
}
.container-admin-content{
  background-color: white;
  width: 100%;
  flex: 4;
  padding:20px;
}