.toash{
  right: -350px;
  padding: 15px 200px 15px 15px;
  display: inline-block;
  border-radius: 3px;
  position: absolute;
  box-shadow: 1px 1px 5px rgb(87, 87, 87);
  animation-name: slide;
  animation-duration: 3s;
}
.toash-default{
  background: rgb(33, 92, 180);
}
.toash-success{
  background: green;
}
.toash-danger{
  background: rgb(168, 27, 27);
}
.toash-warning{
  background: rgb(250, 159, 54);
}
.toash-title{
  color: white;
  font-weight: 600;
  font-size: 20px;
}
.toash-description{
  font-size: 12px;
  color: white;
}
@keyframes slide {
  0% { right: -350px; }
  25% { right: 0px; }
  50% { right: 10px;}
  75% { right: 20px;}
  100% { right: -350px;}
}