.table {
  width:100%;
}
.table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
  text-align: left;
}

.table tr:nth-child(even) {
  background-color: #eee;
}
.table  tr:nth-child(odd) {
background-color: #fff;
}
.table  th {
  background-color:#26459e;
  color: white;
}