.button {
  padding: 8px 20px;
  border: 1px solid #1563b7 ;
  background: #1563b7;
  color: white;
  border-radius: 4px;
  font-weight: 700;
  margin: 0px 2px;
}
.default{
  background: whitesmoke;
  color:  black;
  border: 1px solid whitesmoke ;

}
.danger{
  background: rgb(151, 22, 22);
  color: white;
  border: 1px solid rgb(151, 22, 22);

}
.success{
  background: rgb(6, 94, 6);
  color: white;
  border: 1px solid rgb(6, 94, 6);
}