.loading{
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  background-image: url('../../asset/Bean\ Eater-1s-157px.gif');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}